<style  type="text/css"> 
cool {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
</style>

<b><center>
<span style="font-size: 24pt; line-height: 1.2">
COMS W4111: Introduction to Databases<br>
Spring 2022, Sections 003
</span>
</center></b>
</span><br>
<p>
<i><center>
<span style="font-size: 20pt; line-height: 1.2">
Lecture 1 Examples<br>
</span>
</center></i>

# Introduction

- This is a Jupyter notebook. (https://jupyter.org/) 
    - There are several on-line tutorials, e.g. https://www.tutorialspoint.com/jupyter/index.htm.
    - You should follow the tutorial if you are not familiar with notebooks.
    - Jupyter notebooks are a common tool for many application scenarios.


- For simplicity, I install Anaconda to get Jupyter and other tools. (https://docs.anaconda.com/anaconda/install/)
    - You should chose the "install for only me" option. 
    - I recommend a new, fresh installation. I will have limited patience helping you debug old configurations.

# The World's Simplest Example of DB Benefits

- Consider the Lahman's Baseball Database (https://www.seanlahman.com/baseball-archive/statistics/).


- The file ```People.csv``` has basic information about people associated with baseball.


- The file ```Batting.csv``` has information about a player's performance for teams and years.

In [3]:
# This is a code cell.
import csv


# See the ```pathlib``` and ```os.path``` for how to handle directories and files independent of OS


# This is the local directory container the cloned repository. You will need to
# change for your laptop.
#
base_dir = "/Users/donaldferguson/Dropbox/00Fall2022/Intro-to-Databases-F22"


# This is the directory of Lahman's data in the project repository.
lahmans_data_dir = "/Data/baseballdatabank-2022.2"


# Locations of CSV files
people_file = "/core/People.csv"
batting_file = "/core/Batting.csv"

In [2]:
# A simple function to load CSV data.
def load_csv(full_file_path):
    
    result = []
    
    with open(full_file_path, "r") as in_file:
        csvf = csv.DictReader(in_file)
        for r in csvf:
            result.append(r)
            
    return result

In [4]:
full_people_path = base_dir + lahmans_data_dir + people_file

people_data = load_csv(full_people_path)

In [5]:
full_batting_path = base_dir + lahmans_data_dir + batting_file

batting_data = load_csv(full_batting_path)

- How big are these tables?

In [7]:
len(people_data)

20370

In [8]:
len(batting_data)

110495

- A simple operation is to: 1) Join people and batting information, 2) Find info for people, 3) Return a subset of the fields.


- This is pretty straightforward in code.

In [9]:
def join_on_column(table_1, table_2, column_name):
    
    result =  []
    
    for r in table_1:
        for l in table_2:
            v1 = r.get(column_name, None)
            v2 = l.get(column_name, None)
            
            if v1 == v2:
                new_r = {**r, **l}
                result.append(new_r)
                
    return result

- I looked at the data and know that the shared column is ```playerID```.

In [10]:
joined_info = join_on_column(people_data, batting_data, 'playerID')

In [11]:
len(joined_info)

110495

In [21]:
joined_info[0:3]

[{'playerID': 'aardsda01',
  'birthYear': '1981',
  'birthMonth': '12',
  'birthDay': '27',
  'birthCountry': 'USA',
  'birthState': 'CO',
  'birthCity': 'Denver',
  'deathYear': '',
  'deathMonth': '',
  'deathDay': '',
  'deathCountry': '',
  'deathState': '',
  'deathCity': '',
  'nameFirst': 'David',
  'nameLast': 'Aardsma',
  'nameGiven': 'David Allan',
  'weight': '215',
  'height': '75',
  'bats': 'R',
  'throws': 'R',
  'debut': '2004-04-06',
  'finalGame': '2015-08-23',
  'retroID': 'aardd001',
  'bbrefID': 'aardsda01',
  'yearID': '2004',
  'stint': '1',
  'teamID': 'SFN',
  'lgID': 'NL',
  'G': '11',
  'AB': '0',
  'R': '0',
  'H': '0',
  '2B': '0',
  '3B': '0',
  'HR': '0',
  'RBI': '0',
  'SB': '0',
  'CS': '0',
  'BB': '0',
  'SO': '0',
  'IBB': '0',
  'HBP': '0',
  'SH': '0',
  'SF': '0',
  'GIDP': '0'},
 {'playerID': 'aardsda01',
  'birthYear': '1981',
  'birthMonth': '12',
  'birthDay': '27',
  'birthCountry': 'USA',
  'birthState': 'CO',
  'birthCity': 'Denver',
  'deathYear': '',
  'deathMonth': '',
  'deathDay': '',
  'deathCountry': '',
  'deathState': '',
  'deathCity': '',
  'nameFirst': 'David',
  'nameLast': 'Aardsma',
  'nameGiven': 'David Allan',
  'weight': '215',
  'height': '75',
  'bats': 'R',
  'throws': 'R',
  'debut': '2004-04-06',
  'finalGame': '2015-08-23',
  'retroID': 'aardd001',
  'bbrefID': 'aardsda01',
  'yearID': '2006',
  'stint': '1',
  'teamID': 'CHN',
  'lgID': 'NL',
  'G': '45',
  'AB': '2',
  'R': '0',
  'H': '0',
  '2B': '0',
  '3B': '0',
  'HR': '0',
  'RBI': '0',
  'SB': '0',
  'CS': '0',
  'BB': '0',
  'SO': '0',
  'IBB': '0',
  'HBP': '0',
  'SH': '1',
  'SF': '0',
  'GIDP': '0'},
 {'playerID': 'aardsda01',
  'birthYear': '1981',
  'birthMonth': '12',
  'birthDay': '27',
  'birthCountry': 'USA',
  'birthState': 'CO',
  'birthCity': 'Denver',
  'deathYear': '',
  'deathMonth': '',
  'deathDay': '',
  'deathCountry': '',
  'deathState': '',
  'deathCity': '',
  'nameFirst': 'David',
  'nameLast': 'Aardsma',
  'nameGiven': 'David Allan',
  'weight': '215',
  'height': '75',
  'bats': 'R',
  'throws': 'R',
  'debut': '2004-04-06',
  'finalGame': '2015-08-23',
  'retroID': 'aardd001',
  'bbrefID': 'aardsda01',
  'yearID': '2007',
  'stint': '1',
  'teamID': 'CHA',
  'lgID': 'AL',
  'G': '25',
  'AB': '0',
  'R': '0',
  'H': '0',
  '2B': '0',
  '3B': '0',
  'HR': '0',
  'RBI': '0',
  'SB': '0',
  'CS': '0',
  'BB': '0',
  'SO': '0',
  'IBB': '0',
  'HBP': '0',
  'SH': '0',
  'SF': '0',
  'GIDP': '0'}]

- Let's write a simple function that filters the rows and returns only interesting columns.

In [14]:
def select_and_project(row, where_clause, project_clause):
    
    result = row
    
    for k,v in where_clause.items():
        
        rv = row.get(k, None)
        
        if rv != v:
            result = None
            break
            
    if result:
        final_result = {k:row[k] for k in project_clause}
    else:
        final_result = None
        
    return final_result

In [19]:
wc = {"nameLast": "Williams", "birthCity": "San Diego"}
pc = ["playerID", "nameLast", "nameFirst", "teamID", "yearID", "AB", "H"]

result = []

for r in joined_info:
    tmp = select_and_project(r, wc, pc)
    if tmp:
        result.append(tmp)

In [20]:
result

[{'playerID': 'willite01',
  'nameLast': 'Williams',
  'nameFirst': 'Ted',
  'teamID': 'BOS',
  'yearID': '1939',
  'AB': '565',
  'H': '185'},
 {'playerID': 'willite01',
  'nameLast': 'Williams',
  'nameFirst': 'Ted',
  'teamID': 'BOS',
  'yearID': '1940',
  'AB': '561',
  'H': '193'},
 {'playerID': 'willite01',
  'nameLast': 'Williams',
  'nameFirst': 'Ted',
  'teamID': 'BOS',
  'yearID': '1941',
  'AB': '456',
  'H': '185'},
 {'playerID': 'willite01',
  'nameLast': 'Williams',
  'nameFirst': 'Ted',
  'teamID': 'BOS',
  'yearID': '1942',
  'AB': '522',
  'H': '186'},
 {'playerID': 'willite01',
  'nameLast': 'Williams',
  'nameFirst': 'Ted',
  'teamID': 'BOS',
  'yearID': '1946',
  'AB': '514',
  'H': '176'},
 {'playerID': 'willite01',
  'nameLast': 'Williams',
  'nameFirst': 'Ted',
  'teamID': 'BOS',
  'yearID': '1947',
  'AB': '528',
  'H': '181'},
 {'playerID': 'willite01',
  'nameLast': 'Williams',
  'nameFirst': 'Ted',
  'teamID': 'BOS',
  'yearID': '1948',
  'AB': '509',
  'H': '188'},
 {'playerID': 'willite01',
  'nameLast': 'Williams',
  'nameFirst': 'Ted',
  'teamID': 'BOS',
  'yearID': '1949',
  'AB': '566',
  'H': '194'},
 {'playerID': 'willite01',
  'nameLast': 'Williams',
  'nameFirst': 'Ted',
  'teamID': 'BOS',
  'yearID': '1950',
  'AB': '334',
  'H': '106'},
 {'playerID': 'willite01',
  'nameLast': 'Williams',
  'nameFirst': 'Ted',
  'teamID': 'BOS',
  'yearID': '1951',
  'AB': '531',
  'H': '169'},
 {'playerID': 'willite01',
  'nameLast': 'Williams',
  'nameFirst': 'Ted',
  'teamID': 'BOS',
  'yearID': '1952',
  'AB': '10',
  'H': '4'},
 {'playerID': 'willite01',
  'nameLast': 'Williams',
  'nameFirst': 'Ted',
  'teamID': 'BOS',
  'yearID': '1953',
  'AB': '91',
  'H': '37'},
 {'playerID': 'willite01',
  'nameLast': 'Williams',
  'nameFirst': 'Ted',
  'teamID': 'BOS',
  'yearID': '1954',
  'AB': '386',
  'H': '133'},
 {'playerID': 'willite01',
  'nameLast': 'Williams',
  'nameFirst': 'Ted',
  'teamID': 'BOS',
  'yearID': '1955',
  'AB': '320',
  'H': '114'},
 {'playerID': 'willite01',
  'nameLast': 'Williams',
  'nameFirst': 'Ted',
  'teamID': 'BOS',
  'yearID': '1956',
  'AB': '400',
  'H': '138'},
 {'playerID': 'willite01',
  'nameLast': 'Williams',
  'nameFirst': 'Ted',
  'teamID': 'BOS',
  'yearID': '1957',
  'AB': '420',
  'H': '163'},
 {'playerID': 'willite01',
  'nameLast': 'Williams',
  'nameFirst': 'Ted',
  'teamID': 'BOS',
  'yearID': '1958',
  'AB': '411',
  'H': '135'},
 {'playerID': 'willite01',
  'nameLast': 'Williams',
  'nameFirst': 'Ted',
  'teamID': 'BOS',
  'yearID': '1959',
  'AB': '272',
  'H': '69'},
 {'playerID': 'willite01',
  'nameLast': 'Williams',
  'nameFirst': 'Ted',
  'teamID': 'BOS',
  'yearID': '1960',
  'AB': '310',
  'H': '98'},
 {'playerID': 'willitr01',
  'nameLast': 'Williams',
  'nameFirst': 'Trevor',
  'teamID': 'PIT',
  'yearID': '2016',
  'AB': '1',
  'H': '0'},
 {'playerID': 'willitr01',
  'nameLast': 'Williams',
  'nameFirst': 'Trevor',
  'teamID': 'PIT',
  'yearID': '2017',
  'AB': '41',
  'H': '2'},
 {'playerID': 'willitr01',
  'nameLast': 'Williams',
  'nameFirst': 'Trevor',
  'teamID': 'PIT',
  'yearID': '2018',
  'AB': '43',
  'H': '5'},
 {'playerID': 'willitr01',
  'nameLast': 'Williams',
  'nameFirst': 'Trevor',
  'teamID': 'PIT',
  'yearID': '2019',
  'AB': '36',
  'H': '6'},
 {'playerID': 'willitr01',
  'nameLast': 'Williams',
  'nameFirst': 'Trevor',
  'teamID': 'PIT',
  'yearID': '2020',
  'AB': '0',
  'H': '0'},
 {'playerID': 'willitr01',
  'nameLast': 'Williams',
  'nameFirst': 'Trevor',
  'teamID': 'CHN',
  'yearID': '2021',
  'AB': '18',
  'H': '4'},
 {'playerID': 'willitr01',
  'nameLast': 'Williams',
  'nameFirst': 'Trevor',
  'teamID': 'NYN',
  'yearID': '2021',
  'AB': '7',
  'H': '1'}]

- Let's put this all together and see how long it takes?

In [22]:
import time

start_time = time.time()

new_joined_info = join_on_column(people_data, batting_data, 'playerID')

wc = {"nameLast": "Williams", "birthCity": "San Diego"}
pc = ["playerID", "nameLast", "nameFirst", "teamID", "yearID", "AB", "H"]

result = []

for r in new_joined_info:
    tmp = select_and_project(r, wc, pc)
    if tmp:
        result.append(tmp)
        
end_time = time.time()

print("\n\nThe query took ", (end_time-start_time))

The query took  824.4819991588593

- I loaded the data into a relational database management system.


- Connect to the DBMS. Do not worry about the "magic." We will explain later.

In [23]:
%load_ext sql

In [25]:
%sql mysql+pymysql://dbuser:dbuserdbuser@localhost/lahmans_db_2022

- The SQL equivalent to the code about is below. I am going to time the function.

In [27]:
sql_start_time = time.time()

sql_result = \
    %sql select  playerID, nameLast, nameFirst, yearID, teamID, AB, H \
        from people join batting using(playerID) \
        where nameLast='Williams' and birthCity='San Diego'

sql_end_time = time.time()

print("\n\n The SQL query required ", sql_end_time-sql_start_time)

 * mysql+pymysql://dbuser:***@localhost/lahmans_db_2022
26 rows affected.


 The SQL query required  0.019797086715698242

- The SQL query was much faster, and much more compact.